@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-image: url('https://img.freepik.com/premium-photo/luxury-white-marble-texture-background-decorative-design-pattern-art-work-marble-with-high-resolution_24076-876.jpg?w=2000');
  color: rgb(85, 75, 75)
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav-component {
  padding: 10px;
  color: rgb(85, 75, 75)
}

.landing-div {
  text-align: center;
}


.portfolio-item {
  border-radius: 25px;
  border: 2px solid;
  padding: 20px;
  margin: 20px;
  display: flex;
}

.portfolio-name {
  border-radius: 25px;
  border: 2px solid;
  padding: 20px;
  margin: 20px;
  width: fit-content;
}

.portfolio-links {
  display: flex;
  flex-direction: column;
  border-radius: 25px;
  border: 2px solid;
  padding: 20px;
  margin: 20px;
  width: fit-content;
}

.portfolio-description {
  border-radius: 25px;
  border: 2px solid;
  padding: 20px;
  margin: 20px;
  width: max-content;
}

.portfolio-image {
  border-radius: 25px;
  border: 2px solid;
  padding: 20px;
  margin: 20px;
}

#nav {
  display: flex;
  justify-content: center;
  padding: 2px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  font-size: 18px;
}

#landing-header {
  text-decoration: underline;
  font-size: 5em;
}

#landing-subheader {
  text-decoration: underline;
  font-size: 3em;

}

#landing-span {
  padding: 1%;
}

/* #landing-p {
  margin: 2%;
} */

#landing-img {
  margin-top: 5%;
  width: 60%;
}

#portfolio-header {
  text-align: center;
  border-radius: 25px;
  border: 2px solid;
  padding: 20px;
  margin: 20px;
}
